.search-form
{
    display: flex;
    justify-content: center;
    margin: 36px;
}

.search-input,
.search-button
{
    margin: 0 10px 0 0;
}

.search-input
{
    width: 360px;
}

.flex-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.news
{
    text-align: end;
    margin: 36px;
}

.news-item
{
    text-align: start;
    width: 33%;
    margin: 10px 0;
}